<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>路线详情</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/route-detail.css">
</head>

<body>
<!--引入头部-->
<div id="header"></div>
<!-- 详情 start -->
<div class="wrap">
    <div class="bread_box">
        <a href="/">首页</a>
        <span> &gt;</span>
        <a href="#">攻略游记</a><span> &gt;</span>
        <a href="#">title</a>
    </div>
    <div class="prosum_box">
        <dl class="prosum_left">
            <dt id="dt">
                <img alt="" class="big_img"
                     src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m49788843d72171643297ccc033d9288ee.jpg">
            </dt>
        </dl>
        <div class="prosum_right">
            <p class="pros_title" id="rname">【尾单特卖】全国-曼谷6-7天自由行 泰国出境旅游 特价往返机票自由行二次确认</p>
<!--            <p class="hot" id="routeIntroduce">1-2月出发，网付立享￥1099/2人起！爆款位置有限，抢完即止！</p>-->
            <div class="pros_other">
<!--                <p>经营商家 : <span id="sname">黑马国旅</span></p>-->
                <p><span id="sname"></span></p>
                <p>发布时间<span id="consphone">2020年10月19日13:29:28</span></p>
<!--                <p>地址 : <span id="address">传智播客黑马程序员</span></p>-->
                <p><span id="address"></span></p>
            </div>
            <div class="pros_price">
<!--                <p class="price"><strong id="price">¥2699.00</strong><span>起</span></p>-->
                <p class="price"><strong id="price">作者</strong></p>
<!--                <p class="collect">
                    <a class="btn" id="favorite" onclick="addFavorite();"><i
                            class="glyphicon glyphicon-heart-empty"></i>点击收藏</a>
                    <span id="fCount">已收藏100次</span>
                </p>-->
            </div>
        </div>
        <div>
            <p>在呼伦贝尔主要是看草原、森林等一些自然风光。旅游主要分为南线北线，以海拉尔和满洲里连线为中轴，南线是到阿尔山，北线是到白鹭岛和莫尔道嘎，时间够的话可以去北极村。南线是三天到五天之间。北线时间比较灵活，地点比较灵活，一到两天可以玩额尔古纳和满洲里，4-5天可以去莫尔道、白鹭岛和根河这些地方。

                第一条：海拉尔——满洲里——额尔古纳，这个三角区域是草原最漂亮的地方。
                第二条：金帐汗附近的景点，可以沿着蜿蜒的溪水看到草原的风景。

                现在的草原国家都进行了划片，每一片草原都属于不同的牧民。想去草原腹地的话有两种方法，第一是有当地草原老乡的邀请，便可以直接把车开进他们家的草原，这种体验式最棒的。第二种方法是可以询问下当地的包车司机，如果想去看最深的草原有没有比较好的推荐。

                对于 呼伦贝尔 旅行，我一开始想着夏季旅行，准备夏装就好了。但是和小伟哥沟通之后，我改变了最开始略为幼稚的想法，即使是夏季旅行，还是需要带上厚一点的衣服的。毕竟这里的纬度还是比较高且背靠 大兴安岭 的。

                无论去哪里旅行，我建议大家提前预订好酒店。一是不让整个行程有大的波动、二是不想被酒店赚高价了。

                行程介绍


                D1 海拉尔 -金帐汗-莫尔格勒河- 额尔古纳 -白桦林- 恩和
                D2 恩和 - 室韦 - 临江
                D3 临江 -老鹰嘴-月亮泡-莫尔道嘎国家森林公园
                D4 莫尔道嘎- 兴安 神鹿园- 根河 湿地- 黑山 头
                D5 黑山 头-186彩带河- 满洲里
                D6 满洲里 -呼伦湖- 海拉尔

                2020呼伦贝尔大草原包车2日游/呼伦贝尔大草原旅游攻略/海拉尔/呼伦贝尔旅游攻略/阿尔山/满洲里旅游攻略/呼伦贝尔包车/专业设计呼伦贝尔大草原路线/无人机航拍/呼伦贝尔旅游攻略/呼伦贝尔包车拼车/呼伦贝尔大草原
                2020呼伦贝尔大草原包车2日游/呼伦贝尔大草原旅游攻略/海拉尔/呼伦贝尔旅游攻略/阿尔山/满洲里旅游攻略/呼伦贝尔包车/专业设计呼伦贝尔大草原路线/无人机航拍/呼伦贝尔旅游攻略/呼伦贝尔包车拼车/呼伦贝尔大草原
                免费接机/ 专业网红拍摄/ 花样玩法/ 纯玩无购物/





                在大草原上最合适的还是自驾或者包车，当地的包车一般分为全程包车和分线路包车。全程包车（含车费、油费、桥费在内），按车型不同，价格约每天500-600元，通常包一辆普通的小轿车即可，对于路况可能较差的边防道路，也可以包越野车之类的底盘较高的车。两地来回的单线路包车可根据具体情况谈价格。
                目前当地没有专业的包车运营机构，通常可以在网上找当地人、旅行社或出租车司机商谈包车。


                如果是夏天来的话，就需要防蚊和防晒。如果是自驾，就需要在晚上或者出发前把油加满。呼伦贝尔比较大，加油站也比较少。在一些偏远的地方虽然有加油站，但常出现没油的状况。

                如果希望买一些比较有特色、纪念意义的东西，不管是吃的还是其他纪念品，都建议去当地人去的大市场，或是一些大型的连锁超市。呼伦贝尔的特产也有很多，像是牛肉干、皮毛制品、奶制品、俄罗斯的套娃、桦树制品和森林蓝莓等。在当地的市场购买，价格都比较便宜，像是俄罗斯的套娃三个10块钱。千万不要去景区附近买东西，如满洲里国门附近的，东西都是一样的但比市区内贵很多。</p>
        </div>
    </div>
</div>
<div id="footer"></div>


<script src="js/jquery-3.3.1.js"></script>
<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/include.js"></script>
<script src="js/getParameter.js"></script>
<script>
// $(function () {
//     doGetObjects();
// })
//
// function doGetObjects(){
//     // $("#checkAll").prop("checked",false);//每次查询将全选按钮的状态设置为false
//     //1.请求url
//     let url="strategy/findStrategyListObjects";
//     //2.请求参数
//     let pageCurrent=$("#pageId").data("pageCurrent");
//     if(!pageCurrent)pageCurrent=1;//默认值
//     let params={pageCurrent:pageCurrent};//js对象
//     //基于用户名查询时获取用户名这个参数值
//     var title=$("#searchNameId").val();//val()用于获取表单value属性值.
//     if(title)params.title=title;//在js对象中添加私有key/value
//     //3.发送异步请求获取数据并更新到页面上
//     $.getJSON(url,params,function(result){//JsonResult
//         //console.log(result);
//         doHandleQueryResponseResult(result);
//     });
// }
</script>
</body>
</html>